/* Import variables and general style */
@import 'App.css';

/* Hero Image */

#hero-container {
  position: absolute;
  grid-column: col-start / 2;
  grid-row: line-one / line-three;
  width: 100%;
  margin: 0;
  padding: 0;
  z-index: -1
}

#hero {
  position: fixed;
  top: -60px;
  width: 100%;
  height: 410px;
  background-size: cover;
  background-position: center center;
  background-color: var(--theme-color-s);
  background-image: url('./img/hero1.jpg');
  transform: translate3d(0px, 0px, 0px);
}

#logo {
  position: fixed;
  top: 50px;
  right: 0;
  width: 22em;
}

/* Media Queries */

@media only screen and (orientation:landscape) {
  #hero {
    height: 180px;
  }

  #logo {
    top: 30px;
    right: -15px;
    width: 18em;
  }
}

@media only screen and (min-width:600px) {

  #hero {
    height: 410px;
  }

  #logo {
    top: 0;
    right: -15px;
    width: 50em;
  }

}

@media only screen and (min-width:1300px) {

  #hero {
    height: 510px;
  }

}
