/* General Style Applications  */

body {
  width: 100%;
  margin: 0;
  font-family: sans-serif, arial;
  background-color: #9febe5;
  background-image: url("https://www.transparenttextures.com/patterns/white-plaster.png");
}

/* Oversizing catch-all */

img,
embed,
object,
video {
  max-width: 100%;
}

/* Remove underline from links */

a:link {
  text-decoration: none;
  color: inherit;
}

a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

a:active {
  text-decoration: none;
  color: inherit;
}


/* HEADER */

.page-header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-content: center;
  width: 100%;
  padding: 10px 0 10px 0;
  background-color: #000;
}

.header-title {
  font-size: 3em;
  color: #fff;
  text-align: center;
}


/* MAIN */

.main-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.story-summary-container {
  width: 100%;
  max-width: 1000px;
  height: auto;
  margin-top: 2em;

}

.summary-header {
  width: 100%;
  max-width: 980px;
  margin: auto;
  padding: 0.8em;
  text-align: center;
  line-height: 1.3em;
  color: #000;
  border: 1px solid #000;
  background-color: #fff;
  box-shadow: 3px 3px 5px #000;
}

.story-summaries {
  display: grid;
  grid-gap: 0.8em;
  grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
  list-style-type: none;
  margin-top: 2em;
}

.story-summaries :hover {
  cursor: pointer;
  box-shadow: 1px 1px 6px #525253;
}

.summary {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  padding: 0.4em;
  width: 200px;
  height: 180px;
  font-family: Gentium Basic;
  text-align: center;
  background-color: #fff;
  border: 1px solid #525253;
}

.summary-text-header {
  font-size: 18px;
  font-family: Gentium Basic;
  margin-bottom: 1.2em;
  color: #525253;
}








/*
    We are the Music Makers,
    and we are the Dreamers of Dreams
*/
