/* General Style Applications  */

body {
  width: 100%;
  margin: 0;
  font-family: sans-serif, arial;
}


/* Oversizing catch-all */

img,
embed,
object,
video {
  max-width: 100%;
}


/* Remove decoration from links */

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: inherit;
}


/* Theme Variables */

:root {
  --theme-color-p: #D2D2D2;
  --theme-color-s: #7F7F7F;
  --theme-color-h: #FF7201;
  --theme-elem-bg-trans: #ffffff80;
  --theme-elem-bg-on-scroll: #fff;
  --theme-box-shadow: 2px 3px 10px 1px var(--theme-color-s);
  --theme-font-family: 'PT Sans', sans-serif;
  --theme-font-family-b: 'Lato';
  --theme-trans-bg: url("./img/arches.png");
}


/* Settings on React Root Element */

#root {
  position: absolute;
  width: 100%;
  height: 100%;
}


/* Setup Grid on top level div */

#top-level-container {
  display: grid;
  grid-template-columns: [col-start] 100% [col-end];
  grid-template-rows: [line-one] 80px [line-two] 500px [line-three] 1fr [line-four] 50px [line-five];
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}


/* Re-used styles */

p {
  text-indent: 1.5em;
}

.main-font-style {
  font-family: var(--theme-font-family);
  color: var(--theme-color-p);
}

.flex-c-nw {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.hide {
  display: none;
}


/* Header & Nav */

#header-nav-container {
  position: fixed;
  grid-column: col-start / 2;
  grid-row: line-one / line-two;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60px;
  margin: 0;
  padding: 0;
  box-shadow: 0 2px 5px var(--theme-color-s);
  background-image: var(--theme-trans-bg);
  z-index: 3;
  transition-duration: 800ms;
}

#nav-bar {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  margin: 0;
  font-family: var(--theme-font-family);
  font-size: 1em;
  z-index: 3;
}

.nav-bar-on-load {
  background-color: var(--theme-elem-bg-trans);
  color: var(--theme-color-s);
}

.nav-bar-on-scroll {
  background-color: var(--theme-elem-bg-on-scroll);
  color: #000;
}

.nav-item-selected {
  border-bottom: 3px dashed var(--theme-color-h);
}

.nav-item {
  padding: 1.2em 0.8em 0 0.8em;
  height: 50px;
  filter: drop-shadow(3px 2px 6px var(--theme-color-p));
  font-variant: small-caps;
}

.nav-item:hover {
  color: var(--theme-elem-bg-on-scroll);
}


/* Hero Image */

#hero-container {
  position: absolute;
  grid-column: col-start / 2;
  grid-row: line-one / line-three;
  width: 100%;
  height: 700px;
  margin: 0;
  padding: 0;
}

#hero {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-color: var(--theme-color-s);
  background-image: url('./img/STP1.jpg');
  transform: translate3d(0px, 0px, 0px);
}

/* Main Content Area */

#main-content-container {
  grid-column: col-start / 2;
  grid-row: line-three / line-four;
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  height: auto;
  margin: 0;
  background-color: #fff;
  color: #fff;
  border-top: 8em solid var(--theme-color-p);
  z-index: 2;
}

.content-article{
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 100%;
  height: auto;
  padding-bottom: 1.2em;
  border-bottom: 1px solid var(--theme-color-h);
}

.content-article:nth-of-type(odd) {
  background-color: var(--theme-color-s);
}

.content-article:nth-of-type(even) {
  background-color: #fff;
  background-image: var(--theme-trans-bg);
  color: var(--theme-color-s);
}

.article-align-right {
  justify-content: flex-end;
}

.info-article-pic {
  width: 180px;
  margin-top: 1em;
  border-right: 4px solid var(--theme-color-h);
  border-bottom: 2px solid var(--theme-color-h);
}

.info-article {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 100%;
  height: auto;
  padding-top: 2em;
  background-color: var(--theme-color-s);
}

.article-pic {
  width: 250px;
  margin-top: 1em;
  border-right: 4px solid var(--theme-color-h);
  border-bottom: 2px solid var(--theme-color-h);
}

.article-pic-right {
  order: 1;
  width: 250px;
  margin-top: 1em;
  border-left: 4px solid var(--theme-color-h);
  border-bottom: 2px solid var(--theme-color-h);
}

.article-text-area {
  order: 2;
  max-width: 400px;
}

.article-heading {
  font-size: 2em;
  margin: 1em 0.5em;
}

.article-text {
  font-family: var(--theme-font-family);
  font-size: 1.1em;
}

.display-article {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  background-image: var(--theme-trans-bg);
}

.display-heading {
  width: 100%;
  height: 20px;
  padding: 3px 0 7px 0;
  margin: 2.8em 0;
  background-color: var(--theme-color-s);
  text-align: center;
}

.gallery-button {
  align-self: baseline;
}

.article-display-area {
  display: flex;
  flex-flow: column nowrap;
  list-style: none;
  padding-top: 0.3em;
}

.display-item {
  position: relative;
  padding-bottom: 0.3em;
  margin: 0;
}

.display-item:last-of-type {
  margin: 0;
}

.display-item-text {
  position: absolute;
  bottom: 0.3em;
  color: #fff;
  font-variant: small-caps;
  font-size: 1em;
  filter:drop-shadow(3px 2px 4px #000);
  z-index: 3;
}

.display-pic {
  width: 250px;
  border: 1px solid var(--theme-color-s);
  box-shadow: var(--theme-box-shadow);
  transition-duration: 400ms;
}

.display-pic:hover {
  box-shadow: none;
}

.gallery-button {
  width: 150px;
  height: 30px;
  margin-left: 2em;
  background-color: var(--theme-color-s);
  font-size: 15px;
}

.gallery-button:hover {
  color: #fff;
  box-shadow: var(--theme-box-shadow);
}


/* About Page Specific */

#about-content-container {
  grid-column: col-start / 2;
  grid-row: line-three / line-four;
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  height: auto;
  margin: 0;
  background-color: #fff;
  color: #fff;
  z-index: 2;
}

.about-article-size {
  width: 100%;
  height: auto;
}

.about-article-area {
  max-width: 700px;
  margin: auto;
}

.about-article-heading {
  font-size: 1.6em;
  margin: 1em 0.5em;
}

.about-list {
  margin: 0 1.3em 0 -1.6em;
  list-style: none;
  line-height: 1.7em;
}

.about-list-item {
  padding: 0.3em 0;
  border-bottom: 1px solid var(--theme-color-h);
}

.about-list-item:last-of-type {
  border-bottom: none;
}

.about-sub-heading {
  filter: drop-shadow(2px 3px 12px #0F0F0F);
}

.about-article-text {
  padding: 0;
  margin: 0.3em;
  font-size: 1em;
  text-align:justify;
}


/* Pricing Page Specific */

#pricing-content-container {
  grid-column: col-start / 2;
  grid-row: line-three / line-four;
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  height: auto;
  margin: 0;
  background-color: #fff;
  color: #fff;
  z-index: 2;
}

#pricing-referral-aside {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

#referral-button {
  width: 100%;
  padding: 0.3em;
  border-radius: 5px 5px 0 0;
  border: 2px solid var(--theme-color-h);
  background-image: var(--theme-trans-bg);
  background-color: var(--theme-elem-bg-trans);
  font-family: var(--theme-font-family-b);
  font-size: 1em;
  text-align: center;
}

#referral-button:hover {
  cursor: pointer;
}

#referral-popup-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--theme-elem-bg-trans);
  z-index: 5;
}

#referral-popup-modal {
  position: fixed;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 275px;
  height: 72vh;
  padding: 20px;
  border: 2px solid var(--theme-color-h);
  border-radius: 5px;
  background-color: var(--theme-color-s);
}

#referral-close {
  align-self: flex-start;
}

#referral-close:hover {
  cursor: pointer;
}

.popup-modal-note {
  font-size: 0.8em;
}

.pricing-note {
  width: 100%;
  padding: 1em 0;
  margin: 0;
  background-color: #fff;
  text-align: center;
  color: #000;
  border-bottom: 1px solid var(--theme-color-h);
  font-size: 0.8em;
}

.pricing-disclaimer-note {
  max-width: 750px;
  margin: 2em;
  text-align: justify;
  font-family: var(--theme-font-family);
}


/* FOOTER */

#footer-container {
  grid-column: col-start / 2;
  grid-row: line-four / line-five;
  align-items: center;
  width: 100%;
  height: 50px;
  margin: 0;
  padding: 0;
  background-color: var(--theme-elem-bg-trans);
  background-image: url("https://www.transparenttextures.com/patterns/arches.png");
  z-index: 2;
}

#footer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 20px;
  margin:0;
}

.footer-text {
  margin: 0;
}

.social-icon {
  align-self: center;
  margin-left: 0.4em;
}



/* -- BEGIN MEDIA QUERIES -- */

@media only screen and (min-width: 600px) {

/* Nav */
#nav-bar {
  font-size: 1.5em;
}

.nav-item {
  padding: 0.7em 0.8em 0 0.8em;
}


/* About */
.about-article-heading {
  font-size: 1.8em;
}

.about-article-text {
  font-size: 1.2em;
  margin-right: 1em;
}


/* Pricing */
.pricing-note {
  font-size: 1em;
}

#pricing-referral-aside {
  left: 0.8em;
  bottom: 1em;
}

#referral-button {
  width: 150px;
  padding: 8px;
  font-size: 1em;
  text-align: left;
}

#referral-popup-modal {
  width: 500px;
  height: 25em;
  padding: 40px;
}

}

@media only screen and (min-width: 900px) {

.content-article{
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: space-around;
}

.info-article-pic {
  width: 250px;
  margin: 0;
  border-right: 4px solid var(--theme-color-h);
  border-bottom: 2px solid var(--theme-color-h);
}

.article-pic-right {
  order: 2;
}

.article-display-area {
  flex-flow: column wrap;
  align-content: space-around;
  height: 500px;
}

.display-item {
  margin: 2em;
}

.display-item:last-of-type {
  margin: 2em;
}

.display-item-text {
  font-size: 1.1em;
}

}


@media only screen and (min-width: 1055px) {

.article-text-area {
  margin: 1em 0 2em 5em;
}

.content-article{
  flex-flow: row nowrap;
  justify-content: stretch;
  align-items: center;
}

.article-align-right {
  justify-content: flex-end;
}

.article-pic {
  margin-right: 1em;
}

.article-pic-right {
  margin-left: 1em;
}

.info-article-pic {
  margin-right: 1em;
}



}
