/* General Style Applications  */

body {
  width: 100%;
  margin: 0;
  font-family: sans-serif, arial;
}


/* Oversizing catch-all */

img,
embed,
object,
video {
  max-width: 100%;
}


/* Remove decoration from links */

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: inherit;
}


/* Theme Variables */

:root {
  --theme-color-p: #6d6d6d;
  --theme-color-s: #424242;
  --theme-color-h: #90caf9;
  --theme-elem-bg-trans: #ffffff70;
  --theme-elem-bg-trans-d: #00000080;
  --theme-elem-bg-on-scroll: #fff;
  --theme-box-shadow: 2px 3px 10px 1px var(--theme-color-s);
  --theme-font-p: 'Spectral', sans-serif;
  --theme-font-s: 'Raleway';
  --theme-trans-bg: url("./img/arches.png");
  --theme-trans-bg2: url("./img/thatch.png");
}


/* Settings on React Root Element */

#root {
  position: absolute;
  width: 100%;
  height: 100%;
}


/* Setup Grid on top level div */

#top-level-container {
  display: grid;
  grid-template-columns: [col-start] 100% [col-end];
  grid-template-rows: [line-one] 350px [line-two] 60px [line-three] 1fr [line-four] 50px [line-five];
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}


/* Re-used styles */

p {
  text-indent: 1em;
}

.main-font-style {
  font-family: var(--theme-font-p);
  color: #fff;
}

.flex-c-nw {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.hide {
  display: none;
}

.prevent-click {
  pointer-events: none;
}

.small-note {
  margin: 0;
  padding: 0;
  font-family: var(--theme-font-p);
  font-size: 0.7em;
}

.dark-bg {
  background-color: var(--theme-color-s);
  background-image: var(--theme-trans-bg2), radial-gradient(farthest-side, var(--theme-color-p) 5%, var(--theme-color-s));
}

.top-spacer {
  padding-top: 3em;
}


/* Header & Nav */

#header-nav-container {
  position: sticky;
  top: 0;
  grid-column: col-start / 2;
  grid-row: line-two / line-three;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60px;
  margin: 0;
  padding: 0;
  box-shadow: 0 -1px 10px #000000a5,
              0 0 40px #000000aa,
              0 8px 15px var(--theme-color-s);
  background-image: var(--theme-trans-bg);
  z-index: 2;
  transition-duration: 800ms;
}

#nav-bar {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  margin: 0;
  font-family: var(--theme-font-s);
  font-size: 1em;
  z-index: 3;
}

.nav-bar-on-scroll {
  background-color: var(--theme-elem-bg-trans);
  color: #000;
}

.nav-bar-on-load {
  background-color: var(--theme-elem-bg-on-scroll);
  color: #000;
}

.nav-item-selected {
  border-bottom: 3px dashed var(--theme-color-h);
}

.nav-item {
  padding-top: 1.2em;
  margin: 0;
  height: 50px;
  filter: drop-shadow(3px 2px 6px var(--theme-color-p));
  font-variant: small-caps;
}

.nav-item:hover {
  filter: drop-shadow(3px 2px 6px var(--theme-color-s));
}


/* Hero Image */

#hero-container {
  position: absolute;
  grid-column: col-start / 2;
  grid-row: line-one / line-three;
  width: 100%;
  margin: 0;
  padding: 0;
  z-index: -1
}

#hero {
  position: fixed;
  top: -60px;
  width: 100%;
  height: 90vh;
  background-size: cover;
  background-position: center center;
  background-color: var(--theme-color-s);
  background-image: url('./img/hero1.jpg');
  transform: translate3d(0px, 0px, 0px);
}

#logo {
  position: fixed;
  top: 50px;
  right: 0;
  width: 22em;
}

/* Main Content Area */

/* Landing */

#main-content-container {
  grid-column: col-start / 2;
  grid-row: line-three / line-four;
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  background-color: #fff;
  color: #fff;
  z-index: 1;
}

.content-article{
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 100%;
  height: auto;
  padding-bottom: 1.2em;
  border-bottom: 1px solid var(--theme-color-h);
}

.content-article:nth-of-type(even) {
  background-color: #fff;
  background-image: var(--theme-trans-bg);
  color: var(--theme-color-s);
}

.info-article-pic {
  width: 180px;
  margin-top: 1em;
}

.info-article {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 2em 0;
}

.article-pic {
  width: 300px;
  margin-top: 1em;
}

.article-pic-right {
  order: 1;
  width: 300px;
  margin-top: 1em;
}

.article-text-area {
  order: 2;
  max-width: 400px;
  margin: 0 1em;
}

.article-heading {
  margin: 1em 0.5em;
  font-size: 1.4em;
  font-family: var(--theme-font-p);
  color: #fff;
  filter: drop-shadow(2px 2px 3px var(--theme-color-s));
}

.article-heading-l {
  color: #000;
  filter: drop-shadow(2px 2px 3px #fff);
}

.article-text {
  font-family: var(--theme-font-p);
  font-size: 1.1em;
}

.display-article {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 1100px;
  background-image: var(--theme-trans-bg);
}

.display-heading {
  width: 100%;
  height: 20px;
  padding: 3px 0 7px 0;
  margin: 2.8em 0;
  background-color: var(--theme-color-s);
  text-align: center;
}

.article-display-area {
  display: grid;
  grid-template-columns: [c1] 250px [c2];
  grid-template-rows: [r1] 200px [r2] 200px [r3] 200px [r4] 200px [r5] 200px [r6];
  width: 250px;
  padding: 0;
  margin: auto;
  list-style: none;
}

.display-item {
  position: relative;
  padding: 0;
  margin-bottom: 1em;
}

.display-item:last-of-type {
  margin: 0;
}

.display-item-text {
  position: absolute;
  bottom: 0.3em;
  color: #fff;
  font-variant: small-caps;
  font-size: 1em;
  filter:drop-shadow(3px 2px 4px #000);
  z-index: 3;
}

.display-pic {
  width: 250px;
  border: 1px solid var(--theme-color-s);
  box-shadow: var(--theme-box-shadow);
  transition-duration: 400ms;
}

.display-pic:hover {
  box-shadow: none;
}

#gallery-button {
  width: 110px;
  height: 32px;
  color: #fff;
  background-color: var(--theme-color-p);
  border-radius: 0.3em;
  font-family: var(--theme-font-p);
  font-size: 0.9em;
}

#gallery-button:hover {
  cursor: pointer;
  background-color: var(--theme-color-s);
  box-shadow: var(--theme-box-shadow);
}

#gb {
  grid-column: c1 / c2;
  grid-row: r5 / r6;
  display: flex;
  justify-content: center;
  align-items: center;
}

#d1 {
  grid-column: c1 / c2;
  grid-row: r1 / r2;
  background-size: cover;
  background-position: center;
  background-color: var(--theme-color-s);
  background-image: url('./img/STP5.jpg');
  z-index: 3;
}

#d2 {
  grid-column: c1 / c2;
  grid-row: r2 / r3;
  background-size: cover;
  background-position: center;
  background-color: var(--theme-color-s);
  background-image: url('./img/STP7.jpg');
  z-index: 3;
}

#d3 {
  grid-column: c1 / c2;
  grid-row: r3 / r4;
  background-size: cover;
  background-position: center;
  background-color: var(--theme-color-s);
  background-image: url('./img/STP2.jpg');
  z-index: 3;
}

#d4 {
  grid-column: c1 / c2;
  grid-row: r4 / r5;
  background-size: cover;
  background-position: center;
  background-color: var(--theme-color-s);
  background-image: url('./img/STP6.jpg');
  z-index: 3;
}

/* Galleries */

#gallery-container {
  grid-column: col-start / 2;
  grid-row: line-three / line-four;
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  margin: 0;
  z-index: 1;
}

#gallery-chooser {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  margin: 1em 0;
}

.gallery-chooser-button {
  width: 180px;
  margin: 0.5em;
  box-shadow: 1px 1px 18px #000;
  border-radius: 0.2em;
  font-size: 1.2em;
  font-family: var(--theme-font-p);
  color: #000;
  font-variant: small-caps;
  transition-duration: 300ms;
}

.gallery-chooser-button:hover {
  box-shadow: none;
  cursor: pointer;
}

#gallery-button-current>button {
  box-shadow: 1px 1px 15px var(--theme-color-h);
}

.gallery-viewer-area {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 450px;
  margin-bottom: 2em;
}

#gallery-viewer-main {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 250px;
  border: 1px solid var(--theme-color-h);
  color: #fff;
}

#viewer-pic-main {
  max-width: 300px;
  max-height: 225px;
  filter: drop-shadow(5px 5px 8px #000);
}

.gallery-viewer-tray {
  width: 100%;
  height: 175px;
  border: 1px solid var(--theme-color-h);
  overflow: scroll;
}

#gallery-tray-list {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
  width: 1200px;
  padding: 0;
  list-style: none;
}

.gallery-tray-item {
  margin: 0;
  padding: 0;
  border: 1px solid var(--theme-color-p);
}

.gallery-tray-item:hover {
  border: 1px solid var(--theme-color-h);
}

.gallery-tray-pic {
  max-width: 150px;
  max-height: 125px;
  padding: 0;
  margin: 0;
}


/* About */

#about-content-container {
  grid-column: col-start / 2;
  grid-row: line-three / line-four;
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  height: auto;
  margin: 0;
  background-color: #fff;
  color: #fff;
  z-index: 1;
}

.about-article-area {
  width: 100%;
  max-width: 900px;
  padding: 0;
  margin: 2em auto;
  background-color: #fff;
  background-image: var(--theme-trans-bg);
  color: var(--theme-color-s);
}

.about-faq {
  width: 80%;
  margin: 0.8em auto;
  border-bottom: 2px solid var(--theme-color-h);
  font-family: var(--theme-font-s);
  font-size: 2em;
  text-align: center;
}

.about-article-box {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  width: 100%;
  height: auto;
  padding-bottom: 0.6em;
  margin: 0;
  overflow: hidden;
  transition-duration: 300ms;
  z-index: 2;
}

.box-closed {
  height: 50px;
}

.box-open {
  height: auto;
}

.about-box-expand {
  position: absolute;
  bottom: 0;
  align-self: center;
  width: 100%;
  background-image: linear-gradient(#ffffff00, #fff);
  text-align: center;
}

.about-box-expand:hover {
  background-image: linear-gradient(#ffffff00, var(--theme-color-h));
}

.about-box-expand:hover > .about-box-icon {
  transform: translatey(5px);
}

.about-box-icon {
  display: block;
  transform: translate3d(0);
  transition-duration: 300ms;
}

.far {
  display: none;
}

.about-box-title-box {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin: 1.5em 2em;
}

.about-box-heading {
  margin: 0;
  padding: 0;
  font-size: 1em;
  font-family: var(--theme-font-p);
  color: #000;
}

.about-box-text {
  padding: 0.5em;
  margin: 0.2em;
  text-align: justify;
  font-size: 1em;
  line-height: 1.5em;
}

.about-article-heading {
  font-size: 1.6em;
  margin: 1em 0.5em;
}

.about-box-sub-header {
  padding-bottom: 0.1em;
  margin: 1em 0 0 3em;
  border-bottom: 2px solid var(--theme-color-h);
}

.about-list {
  margin: 0.5em 0 1em -1.5em;
  font-size: 1.1em;
  list-style: none;
  line-height: 1.8em;
}

.about-list-item {
  margin-bottom: 0.6em;
}

.about-sub-heading {
  filter: drop-shadow(2px 3px 12px #0F0F0F);
}

.about-article-text {
  padding: 0;
  margin: 0.3em;
  font-size: 1em;
  text-align:justify;
}


/* Pricing Page Specific */

#pricing-content-container {
  grid-column: col-start / 2;
  grid-row: line-three / line-four;
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  height: auto;
  margin: 0;
  background-color: #fff;
  color: #fff;
  z-index: 1;
}

#pricing-referral-aside {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

#referral-button {
  width: 100%;
  padding: 0.3em;
  border-radius: 5px 5px 0 0;
  border: 2px solid var(--theme-color-h);
  background-image: var(--theme-trans-bg);
  background-color: var(--theme-elem-bg-trans);
  font-family: var(--theme-font-p);
  font-size: 1em;
  text-align: center;
}

#referral-button:hover {
  cursor: pointer;
}

#referral-popup-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--theme-elem-bg-trans-d);
  z-index: 3;
}

#referral-popup-modal {
  position: fixed;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 275px;
  height: 72vh;
  padding: 20px;
  border: 2px solid var(--theme-color-h);
  border-radius: 5px;
  background-color: var(--theme-color-s);
}

#referral-close {
  align-self: flex-start;
}

#referral-close:hover {
  cursor: pointer;
}

.popup-modal-note {
  font-size: 0.8em;
}

.pricing-note {
  width: 100%;
  height: 1em;
  padding: 0;
  margin: 1.2em 0;
  background-color: #fff;
  text-align: center;
  color: #000;
  font-size: 0.8em;
}

.pricing-disclaimer-note {
  max-width: 750px;
  margin: 2em;
  text-align: justify;
  font-family: var(--theme-font-p);
}


/* FOOTER */

#footer-container {
  grid-column: col-start / 2;
  grid-row: line-four / line-five;
  align-items: center;
  width: 100%;
  height: 50px;
  margin: 0;
  padding: 0;
  background-color: #fff;
  background-image: url("https://www.transparenttextures.com/patterns/arches.png");
  z-index: 3;
}

#footer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 1.1em;
  margin:0;
}

.footer-text {
  font-family: var(--theme-font-p);
  color: #000;
  margin: 0;
}

.social-icon {
  align-self: center;
  margin-left: 0.4em;
}



/* -- BEGIN MEDIA QUERIES -- */

@media only screen and (min-width: 600px) {

#top-level-container {
  grid-template-columns: [col-start] 100% [col-end];
  grid-template-rows: [line-one] 500px [line-two] 60px [line-three] 1fr [line-four] 50px [line-five];
}

#hero {
  height: 75vh;
}

#logo {
  top: 0;
  right: -15px;
  width: 50em;
}

/* Nav */
#nav-bar {
  font-size: 1.5em;
}

.nav-item {
  padding: 0.7em 0.8em 0 0.8em;
}

/* Landing */

.display-article {
  height: 1100px;
}

.article-display-area {
  grid-template-columns: [c1] 400px [c2];
  grid-template-rows: [r1] 200px [r2] 200px [r3] 200px [r4] 200px [r5] 200px [r6];
  width: auto;
  height: 1000px;
}

#gb {
  grid-column: c1 / c2;
  grid-row: r5 / r6;
  display: flex;
  justify-content: center;
  align-items: center;
}

#d1 {
  grid-column: c1 / c2;
  grid-row: r1 / r2;
  border-right: solid 4px #fff;
}

#d2 {
  grid-column: c1 / c2;
  grid-row: r2 / r3;
  border-bottom: solid 4px #fff;
}

#d3 {
  grid-column: c1 / c2;
  grid-row: r3 / r4;
  border-top: solid 4px #fff;
}

#d4 {
  grid-column: c1 / c2;
  grid-row: r4 / r5;
  border-left: solid 4px #fff;
}

#gallery-button {
  width: 130px;
  height: 35px;
  border-radius: 0.3em;
  font-size: 1.2em;
}


/* About */

.about-article-area {
  width: 75%;
  max-width: 900px;
  padding: 0;
  color: var(--theme-color-s);
  box-shadow: 2px 5px 20px #000;
}

.about-article-box {
  padding: 1em 0 ;
}

.about-box-heading {
  margin-left: 0.5em;
  font-size: 1.2em;
}

.about-box-text {
  padding: 0;
  margin: 1em;
}

.far {
  display: block;
  padding: 0 0.2em 0 0;
  margin: 0;
  border-right: 2px solid #000;
}


/* Pricing */
.pricing-note {
  font-size: 1em;
}

#pricing-referral-aside {
  left: 0.8em;
  bottom: 1em;
}

#referral-button {
  width: 150px;
  padding: 8px;
  font-size: 1em;
  text-align: left;
}

#referral-popup-modal {
  width: 500px;
  height: 25em;
  padding: 40px;
}

/* Galleries */

#gallery-chooser {
  flex-flow: row nowrap;
  margin: 2em 0;
}

.gallery-chooser-button {
  width: 125px;
  font-size: 1.1em;
}

.gallery-viewer-area {
  width: 100%;
  height: 650px;
}

#gallery-viewer-main {
  width: 595px;
  height: 400px;
}

#viewer-pic-main {
  max-width: 550px;
  max-height: 370px;
}

#gallery-tray-list {
  width: 1600px;
}

.gallery-viewer-tray {
  width: 595px;
}


/* Footer */

#footer {
  font-size: 1.2em;
}

}

@media only screen and (min-width: 900px) {

#hero {
  height: 63vh;
}

.content-article{
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-content: center;
}

.info-article-pic {
  width: 250px;
  margin: 0;
}

.info-article {
  flex-flow: row wrap;
  justify-content: center;
}

.article-pic-right {
  order: 2;
}

.article-display-area {
  grid-template-columns: [c1] 350px [c2] 250px [c3] 300px [c4];
  grid-template-rows: [r1] 200px [r2] 200px [r3] 250px [r4];
  width: 900px;
  height: 650px;
}

#gallery-button {
  width: 200px;
  height: 40px;
  font-size: 1.5em;
}

#gb {
  grid-column: c2 / c3;
  grid-row: r2 / r3;
}

#d1 {
  grid-column: c1 / c2;
  grid-row: r1 / r3;
  padding: 0;
  margin: 0;
  background-size: cover;
  background-position: center;
  background-image: url('./img/STP5.jpg');
  border-right: solid 4px #fff;
  z-index: 3;
}

#d2 {
  grid-column: c2 / c4;
  grid-row: r1 / r2;
  padding: 0;
  margin: 0;
  background-size: cover;
  background-position: center;
  background-image: url('./img/STP7.jpg');
  border-bottom: solid 4px #fff;
  z-index: 3;
}

#d3 {
  grid-column: c1 / c3;
  grid-row: r3 / r4;
  padding: 0;
  margin: 0;
  background-size: cover;
  background-position: center;
  background-image: url('./img/STP2.jpg');
  border-top: solid 4px #fff;
  z-index: 3;
}

#d4 {
  grid-column: c3 / c4;
  grid-row: r2 / r4;
  padding: 0;
  margin: 0;
  background-size: cover;
  background-position: center;
  background-image: url('./img/STP6.jpg');
  border-left: solid 4px #fff;
  z-index: 3;
}

.display-item {
  margin: 2em;
}

.display-item:last-of-type {
  margin: 2em;
}

.display-item-text {
  font-size: 1.1em;
}

/* Gallery Viewer */

#gallery-viewer-main {
  width: 850px;
}

#viewer-pic-main {
  max-width: 800px;
  max-height: 350px;
}

.gallery-viewer-tray {
  width: 850px;
}


/* About */

.box-closed {
  height: 80px;
}

.about-article-area {
  width: 80%;
}

.about-faq {
  font-size: 3em;
}

.about-box-heading {
  margin-left: 1em;
  padding: 0;
  font-size: 1.6em;
}

}


@media only screen and (min-width: 1055px) {

#hero {
  height: 58vh;
}

.article-text-area {
  width: 75%;
  margin: 1em 3em;
}

.content-article{
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  height: 400px;
  padding: 0;
}

.article-pic {
  width: 50%;
  height: 100%;
  margin: 0;
}

.article-pic-right {
  width: 50%;
  height: 100%;
  margin: 0;
}

.info-article-pic {
  width: 300px;
  margin-right: 1em;
}

.article-display-area {
  grid-template-columns: [c1] 400px [c2] 300px [c3] 300px [c4];
  grid-template-rows: [r1] 250px [r2] 250px [r3] 250px [r4];
  width: 1000px;
  height: 750px;
}

#gallery-button {
  width: 200px;
  height: 40px;
  font-size: 1.5em;
}

#d1 {
  border-right: solid 8px #fff;;
}

#d2 {
  border-bottom: solid 8px #fff;
}

#d3 {
  border-top: solid 8px #fff;
}

#d4 {
  border-left: solid 8px #fff;
}

/* Gallery Viewer */

#gallery-chooser {
  width: 100%;
  margin: 2em 0;
}

.gallery-chooser-button {
  width: 180px;
  margin: 0.2em;
  font-size: 1.2em;
}

.gallery-viewer-area {
  width: 100%;
  height: 900px;
}

#gallery-viewer-main {
  width: 1000px;
  height: 600px;
}

#viewer-pic-main {
  max-width: 800px;
  max-height: 550px;
}

.gallery-viewer-tray {
  width: 1000px;
  height: 180px;
}

#gallery-tray-list {
  width: 1600px;
}

.gallery-tray-pic {
  max-width: 200px;
}

.about-box-text {
  font-size: 1.3em;
}


}


@media only screen and (min-width: 1300px) {

.article-pic {
  width: auto;
  height: 100%;
  margin: 0;
}

.article-pic-right {
  width: auto;
  height: 100%;
  margin: 0;
}


}
